*.*~
*.pyc
docs/build
out.txt
Makefile~
dist/
build/
report.html
tests/action_tests/actions_report.html
tests/baseurlreport.html
tests/customactionsreport.html
tests/custompagereport.html
tests/prepostscriptsreport.html
tests/action_tests/actions_report_en-us.html
tests/action_tests/actions_report_pt-br.html
nbproject/
debian/python-pyccuracy*
python-build-stamp*
*report.html
.coverage
Pyccuracy.egg-info
actions_reference.textile
