<div id="content_wrapper" class="wrapper_color">
		<div class="height">&nbsp;</div>
		<div class="col_1">
			<div class="indent">
				<img alt="" src="images/1f1.jpg" class="indent_img" />
				<strong>Pyccuracy is an open-source Python project with an OSI license.</strong><br  />
				<p>Being an open-source project, we need all the help we can get.</p>
				<p>If you think you can contribute, join our <a href="http://groups.google.com/group/pyccuracy">dev list</a>, check our <a href="">JIRA server</a> for the open tickets for the current release and start coding.</p>
				<p>The entry barrier for coding in Pyccuracy is really small, since the codebase is itself small. If you need any help, just ask in the development list and we'll be happy to answer if we can</p>
			</div>
		</div>
		<div class="col_2">
			<img alt="" src="images/1title5.gif" class="title" />
			<strong>Pyccuracy Cheat Sheet</strong><br  />
			<ul>
				<li><a href="http://groups.google.com/group/pyccuracy">Project Google Groups Page</a></li>
				<li><a href="conventions.html">Project Conventions</a></li>
				<li><a href="blogposts.html">Links and Blog Posts</a></li>
				<li><a href="http://jira.stormwindproject.org:8080/browse/PYCCURACY">Jira (Issue and Version Management)</a></li>
				<li><a href="http://github.com/heynemann/pyccuracy">GitHub page for Pyccuracy</a></li>
				<li><a href="http://pypi.python.org/pypi/Pyccuracy/">Python Package Index (PyPI) Page</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<!-- footer -->
	<div id="footer">Pyccuracy &copy; 2009 | <a href="license.html">OSI License</a></div>
