Source: python-pyccuracy
Section: python
Priority: optional
Maintainer: Gabriel Falcão <gabriel@nacaolivre.org>
Uploaders: Gabriel Falcão <gabriel@nacaolivre.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 7), python, cdbs, python-setuptools, python-support, python-selenium
Build-Depends-Indep: python-sphinx
Homepage: http://www.pyccuracy.org/
Vcs-Git: git://github.com/heynemann/pyccuracy.git
Vcs-Browser: http://github.com/heynemann/pyccuracy/tree/master

Package: python-pyccuracy
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-lxml, python-selenium
Recommends:
Suggests:
Description: Pyccuracy is a Behavior-Driven Development Acceptance Testing framework.
 One of Pyccuracy's goals is to provide a zero-friction environment
 for the developer to run his tests in.
