#!/usr/bin/make -f

DEB_PYTHON_SYSTEM := pysupport
DEB_PYTHON_MODULE_PACKAGE = python-pyccuracy

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

build/python-pyccuracy::
	mv debian/python-pyccuracy/usr/bin/pyccuracy_console.py debian/python-pyccuracy/usr/bin/pyccuracy_console
	perl -pi -e 's|^#!/usr/bin/env python.*$$|#!/usr/bin/python|' debian/python-pyccuracy/usr/bin/pyccuracy_console
	cd tests && ./run_all_tests.sh
	cd docs && make html
	rm -rf docs/_build/html/_sources/

clean::
	rm -rf docs/_build/*
