<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pyccuracy - {{ page.title }}</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/custom.css" rel="stylesheet" type="text/css" />
</head>
<body id="page1">
<div id="main">
	
	
	<!-- header -->	
	<div id="header">
		<div class="col_1">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<colgroup>
					<col style="width:33%; text-align:center;" />
					<col style="width:33%; text-align:center;" />
					<col style="width:33%; text-align:center;" />
				<tr>
					<td align="center"><a href="index.html"><img src="images/home.jpg" border="0" /></a></td>
					<td align="center"><a href="overview.html"><img src="images/overview.jpg" border="0" /></a></td>
					<td align="center"><a href="tutorial.html"><img src="images/contact.jpg" border="0" /></a></td>
				</tr>
				<tr>
					<td align="center"><a href="index.html">Home</a></td>
					<td align="center"><a href="overview.html">Overview</a></td>
					<td align="center"><a href="tutorial.html">Getting Started</a></td>
				</tr>
			</table>
		</div>
		<div class="col_2"><a href="index.html"><img alt="" src="images/logo.jpg" /></a></div>
		<div class="col_3">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<colgroup>
					<col style="width:33%; text-align:center;" />
					<col style="width:33%; text-align:center;" />
					<col style="width:33%; text-align:center;" />
				<tr>
					<td align="center"><a href="docs.html"><img src="images/tutorial.jpg" border="0" /></a></td>
					<td align="center"><a href="projectinfo.html"><img src="images/projectinfo.gif" border="0" /></a></td>
					<td align="center"><a href="downloads.html"><img src="images/downloads.jpg" border="0" /></a></td>
				</tr>
				<tr>
					<td align="center"><a href="docs.html">Docs</a></td>
					<td align="center"><a href="projectinfo.html">Project Info</a></td>
					<td align="center"><a href="downloads.html">Downloads</a></td>
				</tr>
			</table>
		</div>
		<div class="clear"></div>
	</div>
	<!-- end header -->
	
	
	<!-- content -->
	{{ content }}
	<!-- end content -->
	
	
	<!-- footer -->
  <div id="content_wrapper" class="wrapper_color">
		<div class="height">&nbsp;</div>
		<div class="col_1">
			<div class="indent">
				<img alt="" src="images/1f1.jpg" class="indent_img" />
				<strong>Pyccuracy is an open-source Python project with an OSI license.</strong><br  /><br />
                <div align="center">
                    <script type="text/javascript" src="http://www.ohloh.net/p/320245/widgets/project_partner_badge.js"></script>
                </div>
				<p>The entry barrier for coding in Pyccuracy is really small, since the codebase is itself small as you can see in the stats above.</p>
				<p>If you think you can contribute, join our <a href="http://groups.google.com/group/pyccuracy" target="_blank">dev list</a>, check our <a href="">JIRA server</a> for the open tickets for the current release and start coding.</p>
<br /><br />
				

				<div align="center" style="height:170px;background-color:white;"><script type="text/javascript" src="http://www.ohloh.net/p/320245/widgets/project_languages.js"></script></div>
			</div>
		</div>
		<div class="col_2">
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td>
            			<strong>Pyccuracy Cheat Sheet</strong><br  />
		                <ul>
			                <li><a href="http://groups.google.com/group/pyccuracy" target="_blank">Project Google Groups Page</a></li>
			                <li><a href="conventions.html">Project Conventions</a></li>
			                <li><a href="blogposts.html">Links and Blog Posts</a></li>
			                <li><a href="http://jira.stormwindproject.org:8080/browse/PYCCURACY" target="_blank">Jira (Issue and Version Management)</a></li>
			                <li><a href="http://github.com/heynemann/pyccuracy" target="_blank">GitHub page for Pyccuracy</a></li>
			                <li><a href="http://pypi.python.org/pypi/Pyccuracy/" target="_blank">Python Package Index (PyPI) Page</a></li>
		                </ul>

                    </td>
                    </tr>
                    <tr>
                    <td align="center">
                        <br /><br />
                        <strong>If you use Pyccuracy, tell us:</strong><br  />
                        <div align="center">
                        	<script type="text/javascript" src="http://www.ohloh.net/p/320245/widgets/project_users.js?style=blue"></script>
                        </div>			            
                    </td>                    
                </tr>
            </table>
		</div>
		<div class="clear"></div>
	</div>
	<div id="footer">Pyccuracy &copy; 2009 | <a href="license.html">OSI License</a></div>
	<!-- end footer -->
	
	
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7926792-1");
pageTracker._trackPageview();
s} catch(err) {}</script>

</body>
</html>
