
====================
Browser Driver Error
====================

An error occurred in the current browser driver.
Check below for more details.

Error Details
-------------
Current Browser Driver....... ${CYAN}$browser_driver${NORMAL}

Error Description
-----------------
${RED}$error${NORMAL}
